*.iml
*.deb
.sonar
couch/ajv
couch/fast-deep-equal.js
couch/validate.js
couch-rpz/ajv
couch-rpz/fast-deep-equal.js
couch-rpz/validate.js
debian/.debhelper
debian/changelog
debian/debhelper-build-stamp
debian/files
debian/housing-data
debian/housing-data.debhelper.log
debian/housing-data.*.debhelper
debian/housing-data.substvars
node_modules
npm-debug.log
target
